.cta {
  width: 300px;
  height: 35px;
  border-radius: 35px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clean-link {
  text-decoration: none;
}

.no-border {
  border: none;
}

.menu > .button_to {
  height: 120px;
  width: 100px;
}

.action-btn {
  background-color: transparent;
  color: rgba(147, 147, 147, 0.7);
  border: 0px;
  cursor: pointer;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;

  &.color-hover:before {
    content: '';
    width: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 11px;
    &.red-hover {
      background-color: rgba(249, 24, 128, 0.4);
    }
    &.green-hover {
      background-color: rgba(0, 186, 124, 0.4);
    }
    &.blue-hover {
      background-color: rgba(29, 155, 240, 0.4);
    }
  }

  &.color-hover:hover:before {
    height: 30px;
  }
}

.action-btn:hover {
  &.red-hover {
    color: rgb(249, 24, 128);
    & > svg {
      fill: rgb(249, 24, 128);
      & > path {
        fill: rgb(249, 24, 128);
      }
    }
  }

  &.green-hover > svg {
    fill: rgb(0, 186, 124);
    & > g {
      fill: rgb(0, 186, 124);
    }
  }

  &.blue-hover {
    color: rgb(29, 155, 240);
    & > svg {
      fill: rgb(29, 155, 240);
      & > path {
        fill: rgb(29, 155, 240);
      }
    }
  }
}
