.margin-0 {
  margin: 0;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-5 {
  margin: 0px 0px 0px 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-bottom-16 {
 margin-bottom: 16px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.bg-blue {
  background-color: rgb(24, 140, 216);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-transparent {
  background-color: transparent;
}

.color-black {
  color: rgb(0, 0, 0);
}

.color-white {
  color: rgb(255, 255, 255);
}

.color-blue {
  color: rgb(24, 140, 216);
}

.color-gray {
  color: rgba(147, 147, 147, 0.7);
}

.kanit-semibold {
  font-family: 'Kanit Semibold', serif;
}

.f-72 {
  font-size: 72px;
}

.f-36 {
  font-size: 36px;
}

.f-18 {
  font-size: 18px;
}

.border-gray {
  border: 1px solid rgb(113, 118, 122);
}

.w-100 {
  width: 100%;
}
